$transition: .4s ease .05s;
$goodColor: #3F3F3F;
$errorColor: #FF8484;
$successColor: #7BAE73;
$notActiveColor: #EEEEEE;
$placeholderColor: #B4B4B4;
$formTitleColor: #49485E;
$whiteBlockColor: #FFFEFB;
$mobileMenuAppear: 680px;